.main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgba(9, 58, 114, 0.7), rgba(206, 89, 11, 0.7));
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-div{
    width: 33.333333333%;
    height: 100%;
}
.vrod{
    position: relative;
    width: 3%;
    height: 80%;
    border: 1px solid rgba(17, 157, 167, 0.527);
    border-radius: 10px;
    background-color: rgba(143, 158, 206, 0.753);
    left: 48.5%;
    top: 20%;
    margin-right: 0;
}
.pieces-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content:flex-start;
    background-color: transparent;
    position: relative;
    top: -80.5%;
}
.game-div .vrod{
    z-index: -1;
}
.game-div .pieces-div{
    z-index: 1;
}