.table{
    height: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.719);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border: 1px solid rgba(214, 147, 147, 0.527);
}
.table-stripe{
    width: 5px;
    background-color: rgba(81, 199, 199, 0.575);
    transform: rotate(70deg);
    height: 70px;
    position: relative;
    top: -25px;
}