.main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgba(212, 233, 93, 0.438), rgba(38, 196, 85, 0.623));
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }